<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <style>
        body {
            background-color: skyblue;
            color: #fff;
            padding: 30px;
        }
        h1 {
            font-size: 48px;
            letter-spacing: 2px;
            text-align: center;
        }
        p {
           font-size: 16px;
           text-align: center; 
        }
    </style>
</head>
<body>
    <h1>ejs <%= websiteName %></h1>
    <!-- <ul>
        <% for(var i= 0; i < data.length; i ++) { %>
        <li>
            <strong>年龄：</strong><%= data[i].age %>
            <strong>名字：</strong><%= data[i].name %>
        </li>
        <% } %>
    </ul> -->
    <ul>
        <% data.forEach(function(item) { %>
        <li>
            <strong>年龄：</strong>
                <%= item.age %>
            <strong>名字：</strong>
            <% item.name.forEach(function(item1) { %>
                <p><%= item1 %></p>  
            <% }) %>
        </li>
        <% }) %>
    </ul>
</body>
</html>